@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> <a href="https://localhost:44378/Employee">click here to see employees</a>.</p>
</div>
